@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Spectral&display=swap");

@media screen and (max-width: 720px) {
  body {
    font-family: "Roboto", sans-serif;
  }
  h1 {
    font-family: "Spectral", serif;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }
  hr {
    opacity: 0.3;
  }
  .black-color {
    color: #191919;
  }
  .grey-color {
    color: rgba(128, 128, 128, 0.7);
  }
  nav,
  .hero {
    background-color: #ffc017;
  }

  nav {
    border-bottom: #191919 solid 1px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  }
  nav span {
    cursor: pointer;
  }
  .btn-start {
    background-color: #191919;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
  }
  .hero {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }
  .hero * {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero h1 {
    font-size: 4em;
  }
  .hero .btn-start {
    width: 35vw;
    text-align: center;
  }
  main {
    margin-top: 35px;
    margin-left: 20px;
  }

  .trend {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .discover {
    margin-top: 40px;
  }
  /* COMPONENTS FOR ARTICLES */
  .num {
    font-size: 2em;
    font-weight: bold;
    margin-right: 18px;
    opacity: 0.4;
  }
  .user {
    display: flex;
    align-items: center;
  }
  .user .avatar {
    border-radius: 20px;
    width: 20px;
    margin-top: 3px;
  }
  .user .name {
    padding-left: 5px;
    font-weight: bold;
  }
  .section-title {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .subject {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .content {
    margin-top: 2px;
  }
  /*  */
  .trending .info {
    display: flex;
    justify-content: space-between;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4vh;
  }
  .categories .category {
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid rgba(133, 133, 133, 0.5);
  }
  .menu {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
  }
  .menu span {
    padding-right: 10px;
    padding-bottom: 10px;
  }

  articles {
    display: flex;
    flex-direction: column;
  }
  .article {
    display: flex;
    height: 20vh;
    width: 85%;
    margin-bottom: 8vh;
  }
  .article .content {
    padding-right: 20px;
  }
  .article .info {
    display: flex;
    align-items: center;
  }
  .article > img {
    height: 170px;
  }

  .article .description {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .badge {
    padding: 5px 10px;
    background-color: rgba(203, 203, 203, 0.2);
    border-radius: 20px;
  }
  .bookmark {
    justify-self: flex-end;
  }
}
