@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Spectral&display=swap");

/* GENERAL */
body {
  font-family: "Roboto", sans-serif;
  /* height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; */
}

h1 {
  font-family: "Spectral", serif;
}
h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}
hr {
  opacity: 0.3;
}
.black-color {
  color: #191919;
}
.grey-color {
  color: rgba(128, 128, 128, 0.7);
}
nav,
.hero {
  background-color: #ffc017;
}

nav {
  border-bottom: #191919 solid 1px;
  padding: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  transition-property: background-color;
  transition-duration: 0.5s;
}
nav span {
  cursor: pointer;
  margin-right: 10px;
}
.nav-scrolled {
  background-color: white;
}
.btn-start {
  background-color: #191919;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.btn-start-scrolled {
  background-color: green;
}
.hero {
  height: 300px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  overflow: hidden;
}
.hero * {
  /* margin-top: 20px;
  margin-bottom: 20px; */
}
.hero > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero h1 {
  font-size: 4em;
}
.hero .btn-start {
  max-width: 200px;
  width: 40%;
  text-align: center;
}
.hero img {
  /* width: 50%; */
  /* overflow: hidden; */
}
main {
  width: 90%;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.trend {
  display: flex;
  flex-basis: 400px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 40px;
  /* border: solid; */
}
.trends {
  display: flex;
  flex-flow: row wrap;
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
}
.discover {
  /* margin-top: 40px; */
}
/* COMPONENTS FOR ARTICLES */
.num {
  font-size: 2em;
  font-weight: bold;
  margin-right: 18px;
  opacity: 0.4;
}
.user {
  display: flex;
  align-items: center;
}
.user .avatar {
  border-radius: 20px;
  width: 20px;
  margin-top: 3px;
}
.user .name {
  padding-left: 5px;
  font-weight: bold;
  font-size: 0.7em;
}
.section-title {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subject {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}
.content {
  margin-top: 2px;
}
/*  */
.trending .info {
  display: flex;
  justify-content: space-between;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4vh;
}
.categories .category {
  padding: 10px;
  margin: 5px 10px;
  border: 1px solid rgba(133, 133, 133, 0.5);
}
.menu {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
}
.menu span {
  padding-right: 10px;
  padding-bottom: 10px;
}

articles {
  display: flex;
  flex-direction: column;
}
.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8vh;
}
.article .content {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article > img {
  width: 40vw;
  max-width: 250px;
}

.article .description {
  margin-bottom: 10px;
  width: 40vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.badge {
  padding: 5px 10px;
  background-color: rgba(203, 203, 203, 0.2);
  border-radius: 20px;
}
.bookmark {
  justify-self: flex-end;
}
@media screen and (min-width: 1200px) {
  .section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 40px;
  }
  .section > div {
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
  }
}

/* DESKTOP */
@media screen and (min-width: 720px) {
  body {
    font-size: 1.2em;
  }
}
/* TABLET */
@media screen and (max-width: 720px) {
  body {
    font-size: 1.1em;
  }
  .links {
    display: none;
  }
  .hero img {
    display: none;
  }
  .btn-start {
    width: 200px;
  }
}
/* MOBILE  */
@media screen and (max-width: 420px) {
  body {
    font-size: 1em;
  }
  .btn-sign {
    display: none;
  }
  nav .btn-start {
    display: none;
  }
  .hero h1 {
    font-size: 3.5em;
  }
}
